apiVersion: backstage.io/v1alpha1
kind: Component
metadata:
  name: ${{ values.name | dump }}
${{ '  description: ' + (values.description | dump) if values.description else '' }}
  annotations:
    backstage.io/techdocs-ref: dir:.
    # Links the service to its running workloads: the portal's Kubernetes tab
    # shows cluster objects labeled backstage.io/kubernetes-id=<this value>.
    # Apply the same label to the service's Deployment and Service manifests.
    backstage.io/kubernetes-id: ${{ values.name | dump }}
  tags:
    - typescript
    - nodejs
    - service
spec:
  type: service
  lifecycle: experimental
  owner: ${{ values.owner | dump }}
${{ '  system: ' + (values.system | dump) if values.system else '' }}
